{
  "bucket": "...",
  "region": "us-east-1",
  "filters": [
    {
      "name": "passthrough"
    }
  ],
  "actions": [
    {
      "name": "empty"
    },
    {
      "name": "put-acl",
      "options": {
        "acl": "public-read"
      }
    },
    {
      "name": "put-metadata",
      "options": {
        "data": {
          "cache-control": "max-age=86400"
        }
      }
    }
  ]
}