{
  "bucket": "...",
  "region": "us-east-1",
  "actions": [
    {
      "type": "task",
      "name": "log"
    },
    {
      "type": "filter",
      "name": "passthrough"
    },
    {
      "type": "task",
      "name": "empty"
    },
    {
      "type": "task",
      "name": "put-metadata",
      "options": {
        "data": {
          "cache-control": "max-age=86400"
        }
      }
    },
    {
      "type": "task",
      "name": "put-acl",
      "options": {
        "acl": "public-read"
      }
    }
  ]
}